@import '../../node_modules/purecss/build/pure.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*-- Application stylesheets. -----------------------------------------------*/

body, html {
    padding : 0;
    margin : 0;
    height : 100%;
    overflow: hidden;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: -21px;
}

#header {
    height:50px;
    background: url('../img/logo.png');
    width:100%;
    font-size: 1rem;
    font-weight: 300;
    color: ghostwhite;
}

#header h1 {
    font-size: 1.5rem;
    padding: 12px;
}

#nav {
    background-color:#999;
    width:200px;
    height:100%;
    float:left;
    overflow-x: auto;
}

nav a {
    color: #FFF;
    text-align: right;
    display: block;
    font-weight: bold;
    text-decoration: none;
    font-size: 19px;
    padding: 15px;
}

nav a:not(:last-child) {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

nav a:hover {
    background: #4A86C1;
}

#content {
    height:100%;
    overflow: auto;
    padding: 1rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 200px;

}

.h5 {
    font-size: 0.5rem;
}